@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-size-preset-1: 2.5rem;
}

@media (min-width: 768px) {
  :root {
    --font-size-preset-1: 3.5rem;
  }
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 100%;
  background-color: #242742;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  padding: 16px 47px;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff6a3a), to(#ff527b));
  background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 106, 58, 0.5);
          box-shadow: 0px 10px 20px rgba(255, 106, 58, 0.5);
}

.card--hidden {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #36384d;
  display: block;
}

ul {
  list-style: none;
}

.sign-card {
  width: 100%;
  background-color: white;
}

.sign-card__img {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 284px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 16px 16px;
}

.sign-card__content {
  padding: 40px 24px;
}

.sign-card__title {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-preset-1);
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: bold;
  color: #242742;
  margin-bottom: 24px;
}

.sign-card__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
  margin-bottom: 24px;
  color: #242742;
}

.sign-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
  color: #242742;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
}

.sign-card__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-card__list li::before {
  content: url("/assets/images/icon-list.svg");
}

.sign-form__input-field {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.sign-form__input-field > div:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  color: #242742;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-form__input-field > div:first-child [id$="-error"] {
  color: #ff6155;
}

.sign-form__input-field input {
  border-radius: 8px;
  border: 1px solid #949494;
  padding: 16px 24px;
  outline: none;
  color: #242742;
}

.sign-form__input-field input:active {
  border-color: #242742;
}

.sign-form__input-field:has([id$="-error"]:not(:empty)) input {
  border-color: #ff6155;
  color: #ff6155;
  background-color: #ffe7e6;
  -webkit-animation: shake 0.1s;
          animation: shake 0.1s;
}

@media (min-width: 768px) {
  body {
    padding: 73px 80px;
  }
  .sign-card {
    border-radius: 36px;
    padding: 40px;
    max-width: 643px;
    margin: 0 auto;
  }
  .sign-card__content {
    padding-left: 0;
    padding-right: 0;
  }
  .sign-card__img {
    height: 358px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px;
  }
}

@media (min-width: 1440px) {
  body {
    padding-top: 219px;
  }
  .sign-card {
    max-width: 904px;
    height: 641px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 64px;
    padding: 24px 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sign-card__img {
    width: 400px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.success-card {
  width: 100%;
  padding: 149px 24px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.success-card__title {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-preset-1);
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: bold;
}

.success-card__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
}

.success-card__text span {
  font-weight: bold;
}

.success-card__btn {
  margin-top: 239px;
}

@media (min-width: 768px) {
  .success-card {
    padding: 64px 60px;
    border-radius: 36px;
    gap: 32px;
    max-width: 504px;
    margin: 0 auto;
  }
  .success-card__btn {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */